## Study Compas Dataset  
[Link](https://github.com/propublica/compas-analysis/blob/master/Compas%20Analysis.ipynb)

In [1]:
import os
import numpy as np
import pandas as pd

In [2]:
DATASET_PATH = os.path.join("dataset", "compas", "compas-scores.csv")

In [3]:
data = pd.read_csv(DATASET_PATH)
data.head(5)

,id,name,first,last,compas_screening_date,sex,dob,age,age_cat,race,...,vr_offense_date,vr_charge_desc,v_type_of_assessment,v_decile_score,v_score_text,v_screening_date,type_of_assessment,decile_score.1,score_text,screening_date
0,1,miguel hernandez,miguel,hernandez,2013-08-14,Male,1947-04-18,69,Greater than 45,Other,...,NaN,NaN,Risk of Violence,1,Low,2013-08-14,Risk of Recidivism,1,Low,2013-08-14
1,2,michael ryan,michael,ryan,2014-12-31,Male,1985-02-06,31,25 - 45,Caucasian,...,NaN,NaN,Risk of Violence,2,Low,2014-12-31,Risk of Recidivism,5,Medium,2014-12-31
2,3,kevon dixon,kevon,dixon,2013-01-27,Male,1982-01-22,34,25 - 45,African-American,...,2013-07-05,Felony Battery (Dom Strang),Risk of Violence,1,Low,2013-01-27,Risk of Recidivism,3,Low,2013-01-27
3,4,ed philo,ed,philo,2013-04-14,Male,1991-05-14,24,Less than 25,African-American,...,NaN,NaN,Risk of Violence,3,Low,2013-04-14,Risk of Recidivism,4,Low,2013-04-14
4,5,marcu brown,marcu,brown,2013-01-13,Male,1993-01-21,23,Less than 25,African-American,...,NaN,NaN,Risk of Violence,6,Medium,2013-01-13,Risk of Recidivism,8,High,2013-01-13

In [4]:
data.shape

(11757, 47)

In [5]:
data.columns

Index(['id', 'name', 'first', 'last', 'compas_screening_date', 'sex', 'dob',
       'age', 'age_cat', 'race', 'juv_fel_count', 'decile_score',
       'juv_misd_count', 'juv_other_count', 'priors_count',
       'days_b_screening_arrest', 'c_jail_in', 'c_jail_out', 'c_case_number',
       'c_offense_date', 'c_arrest_date', 'c_days_from_compas',
       'c_charge_degree', 'c_charge_desc', 'is_recid', 'num_r_cases',
       'r_case_number', 'r_charge_degree', 'r_days_from_arrest',
       'r_offense_date', 'r_charge_desc', 'r_jail_in', 'r_jail_out',
       'is_violent_recid', 'num_vr_cases', 'vr_case_number',
       'vr_charge_degree', 'vr_offense_date', 'vr_charge_desc',
       'v_type_of_assessment', 'v_decile_score', 'v_score_text',
       'v_screening_date', 'type_of_assessment', 'decile_score.1',
       'score_text', 'screening_date'],
      dtype='object')

In [6]:
def check_data(df, columns):
    for col in columns:
        print(col + ":")
        if not col in df.columns:
            print("Nothing found")
        else:
            print(df[col].unique())
        print()

In [7]:
check_data(data, ['age', 'c_charge_degree', 'race', 'age_cat', 'score_text', 'sex', 'priors_count', 
                    'days_b_screening_arrest', 'decile_score', 'is_recid', 'two_year_recid', 'c_jail_in', 'c_jail_out']
          )

age:
[69 31 34 24 23 43 44 41 39 20 26 21 27 37 22 47 25 64 42 32 54 49 36 33
 30 63 55 29 38 53 51 28 35 48 46 62 56 45 40 59 50 66 52 71 19 61 58 78
 57 68 18 70 60 65 83 67 75 73 72 77 76 74 96 80 79 86]

c_charge_degree:
['F' 'O' 'M']

race:
['Other' 'Caucasian' 'African-American' 'Hispanic' 'Asian'
 'Native American']

age_cat:
['Greater than 45' '25 - 45' 'Less than 25']

score_text:
['Low' 'Medium' 'High' nan]

sex:
['Male' 'Female']

priors_count:
[ 0  4  1  2 14  3  7  6  5 13  8  9 15 19 21 22 20 10 12 28 11 23 25 24
 36 18 29 16 17 33 30 43 27 26 38 37 35 31 39]

days_b_screening_arrest:
[-1.000e+00        nan  0.000e+00  4.280e+02 -2.000e+01  2.200e+01
 -2.000e+00 -1.320e+02  5.300e+01  8.100e+01 -5.900e+01 -2.400e+01
  3.020e+02 -2.190e+02 -1.300e+01 -3.800e+01  7.000e+01 -3.250e+02
 -1.500e+01 -7.800e+01 -4.300e+01 -3.890e+02 -3.180e+02 -5.000e+00
  1.370e+02 -1.810e+02 -2.390e+02 -2.100e+01 -6.400e+01 -1.000e+01
 -1.370e+02  1.780e+02 -3.000e+01 -3.000e+00  6.700e+01  1.400e+01
 -4.700e+01 -3.600e+01 -4.000e+00 -2.900e+01 -3.500e+01 -1.600e+01
  2.000e+01 -4.100e+01 -2.600e+01 -7.000e+00 -5.100e+01 -5.600e+01
 -1.900e+01 -1.880e+02 -1.100e+02 -4.500e+01  2.900e+01 -1.550e+02
 -3.400e+01 -1.170e+02  2.890e+02 -1.080e+02  4.900e+01  1.040e+02
 -2.270e+02  6.490e+02 -1.530e+02  1.500e+02 -1.400e+02  1.610e+02
 -3.200e+01 -4.400e+01  8.120e+02 -2.320e+02  2.990e+02 -2.660e+02
  2.300e+01 -4.800e+01 -8.300e+01 -9.300e+01 -3.900e+01 -3.720e+02
 -1.100e+01  3.000e+02  1.140e+02 -1.760e+02 -2.700e+01 -2.200e+01
  2.060e+02 -1.130e+02  2.710e+02 -9.400e+01 -8.600e+01 -8.000e+01
 -1.060e+02  4.700e+01 -1.200e+01 -8.000e+00 -4.990e+02 -3.120e+02
 -1.500e+02 -7.400e+01 -3.100e+01 -2.300e+01 -2.630e+02 -1.400e+01
 -1.220e+02 -1.520e+02  2.220e+02 -2.430e+02 -6.600e+01  1.020e+02
 -5.300e+01 -1.700e+01 -5.400e+01  6.100e+01 -2.140e+02  1.680e+02
 -1.070e+02 -9.000e+00 -6.000e+00 -6.500e+01  1.620e+02  7.500e+01
  6.220e+02  7.470e+02 -1.750e+02 -4.000e+01 -5.000e+01 -6.100e+01
  3.200e+02 -6.800e+01 -1.800e+01 -1.150e+02  2.600e+01  2.100e+02
 -3.060e+02  2.360e+02 -5.200e+01  6.530e+02 -2.680e+02 -3.700e+01
  1.400e+02 -7.900e+01  7.730e+02  2.800e+01 -1.640e+02 -7.100e+01
 -1.720e+02  7.000e+00 -5.500e+01  2.340e+02 -5.800e+01  1.210e+02
  4.800e+01  3.040e+02 -1.110e+02  1.100e+02  8.800e+01  1.900e+02
  4.960e+02  7.600e+01 -3.050e+02  2.790e+02  1.600e+02  2.330e+02
 -1.570e+02 -4.200e+01 -6.700e+01  2.130e+02  5.000e+01  1.270e+02
  9.200e+01  5.060e+02 -2.460e+02 -2.800e+01  8.600e+01 -1.010e+02
 -6.000e+01  1.710e+02  6.890e+02  5.390e+02  9.100e+01  9.000e+00
 -1.030e+02  7.700e+01  6.400e+01  8.500e+01 -2.500e+01 -3.010e+02
 -8.200e+01  3.360e+02  3.100e+01 -1.580e+02  1.230e+02  1.200e+01
 -9.500e+01 -4.900e+01 -3.420e+02 -1.390e+02  3.200e+01 -8.400e+01
 -3.300e+02  8.400e+01 -1.050e+02  7.160e+02 -4.600e+01 -1.470e+02
 -2.450e+02  2.870e+02  1.300e+01 -9.000e+01  1.070e+02  5.340e+02
  1.700e+01 -7.000e+01 -1.300e+02 -5.420e+02  3.000e+01  6.000e+00
  2.000e+00  1.600e+01  1.120e+02  2.940e+02 -1.910e+02  7.300e+01
  3.500e+01  2.050e+02 -2.050e+02  4.630e+02  1.250e+02  3.780e+02
 -8.700e+01  1.180e+02  2.450e+02  2.030e+02 -1.000e+02 -2.100e+02
 -1.260e+02  3.400e+01 -3.610e+02 -1.210e+02  1.290e+02  1.260e+02
 -3.810e+02  6.570e+02 -1.800e+02  3.090e+02 -8.500e+01  1.130e+02
 -9.600e+01 -5.190e+02 -6.900e+01  3.700e+01 -3.650e+02 -1.540e+02
  2.720e+02 -3.910e+02 -5.460e+02  2.440e+02 -2.080e+02 -3.560e+02
 -7.700e+01 -3.300e+01 -2.620e+02  5.070e+02 -1.120e+02 -7.500e+01
  5.250e+02 -1.200e+02  2.650e+02  5.100e+01  4.040e+02  4.270e+02
  1.025e+03  8.000e+00  9.820e+02  1.000e+00  1.800e+01  2.370e+02
  5.300e+02  5.440e+02  2.660e+02  3.050e+02 -1.230e+02  1.220e+02
 -8.100e+01 -1.140e+02  4.000e+02 -1.020e+02 -2.290e+02 -4.790e+02
 -1.890e+02 -2.400e+02  1.500e+01  7.330e+02  7.290e+02  3.310e+02
  1.280e+02 -2.360e+02 -2.410e+02  3.700e+02  2.310e+02 -1.940e+02
 -6.200e+01  5.800e+01 -1.870e+02  2.560e+02 -3.330e+02  1.040e+03
 -7.300e+01  5.500e+02  1.170e+02 -1.040e+02  7.400e+01 -1.420e+02
  5.700e+01 -1.650e+02  1.630e+02  2.830e+02  5.690e+02 -2.030e+02
  5.230e+02  3.910e+02 -6.300e+01  1.490e+02  8.200e+01  4.830e+02
 -2.020e+02 -1.280e+02 -1.770e+02  2.100e+01  4.600e+01  1.470e+02
  2.460e+02  3.400e+02  1.900e+01  4.140e+02  1.850e+02  3.770e+02
  6.200e+02 -1.710e+02  1.730e+02  2.000e+02  4.890e+02 -9.100e+01
  2.700e+01  4.420e+02  2.520e+02 -1.820e+02 -1.340e+02  2.190e+02
 -9.200e+01  7.200e+01 -3.430e+02 -1.590e+02  1.650e+02  2.610e+02
 -2.150e+02  1.350e+02  2.500e+01 -2.160e+02  9.000e+01  4.300e+01
 -5.200e+02  5.010e+02  1.330e+02  3.180e+02 -2.310e+02 -1.180e+02
 -1.670e+02  2.500e+02  1.100e+01 -2.280e+02  3.430e+02  2.490e+02
 -1.380e+02  6.600e+01  9.900e+01  4.680e+02 -5.780e+02  5.970e+02
  1.050e+02 -1.250e+02  7.520e+02 -2.480e+02  7.020e+02 -2.590e+02
 -1.660e+02  3.120e+02  6.300e+01 -1.350e+02 -1.240e+02  8.900e+01
  5.210e+02  1.001e+03 -1.090e+02 -4.140e+02 -9.800e+01  2.680e+02
  9.700e+01  2.320e+02 -3.090e+02  3.160e+02  6.070e+02  3.340e+02
 -1.620e+02 -3.600e+02 -7.200e+01 -7.600e+01  8.000e+01  3.790e+02
  2.300e+02  1.970e+02 -3.100e+02  5.610e+02  3.670e+02 -4.430e+02
 -2.910e+02  2.250e+02  6.060e+02 -5.970e+02 -4.350e+02  1.150e+02
 -1.310e+02 -2.880e+02  5.000e+02  7.900e+01  2.350e+02  3.000e+00
  4.100e+02 -2.300e+02  1.860e+02  4.180e+02  2.120e+02  5.500e+01
 -5.290e+02  1.480e+02 -9.900e+01  1.080e+02 -1.900e+02 -1.630e+02
  1.190e+02  3.170e+02  1.810e+02  4.400e+01 -4.120e+02  5.000e+00
 -3.390e+02  6.210e+02  3.900e+01  6.500e+02  2.640e+02  2.480e+02
 -1.970e+02  1.880e+02 -5.700e+01 -2.000e+02  9.800e+01 -5.440e+02
  7.260e+02 -1.740e+02  2.530e+02  1.057e+03  1.027e+03  2.160e+02
  2.690e+02  4.100e+01  6.930e+02 -2.900e+02  6.300e+02  3.260e+02
  2.960e+02  3.390e+02 -4.050e+02  5.900e+01 -2.550e+02  3.600e+01
  1.450e+02  1.000e+02  3.660e+02  2.400e+01 -3.760e+02 -1.690e+02
 -2.890e+02  6.800e+02 -2.510e+02  4.000e+01  5.650e+02  6.500e+01
  2.270e+02  5.400e+01  8.300e+01  3.800e+01  2.580e+02  5.830e+02
  9.300e+01  6.900e+01 -3.020e+02  1.760e+02 -2.380e+02 -3.450e+02
 -8.800e+01  7.140e+02  2.930e+02  1.320e+02  8.700e+01 -1.610e+02
  8.410e+02 -3.660e+02  6.240e+02  8.050e+02  1.110e+02 -3.360e+02
 -1.700e+02  9.600e+01 -1.190e+02  1.026e+03  4.070e+02 -5.250e+02
  2.840e+02 -9.700e+01  3.300e+01 -4.720e+02 -1.270e+02  4.340e+02
  6.780e+02  3.110e+02 -1.680e+02 -1.510e+02 -2.200e+02  2.750e+02
 -2.780e+02  4.530e+02 -1.840e+02 -2.220e+02  5.780e+02 -2.440e+02
  5.200e+01  3.230e+02  6.400e+02 -1.460e+02  1.940e+02  1.030e+02
  1.420e+02  3.550e+02  4.300e+02 -3.190e+02 -2.420e+02 -3.290e+02
 -3.990e+02  2.900e+02  4.720e+02  1.750e+02 -1.780e+02  1.550e+02
 -1.960e+02]

decile_score:
[ 1  5  3  4  8  6 10  9  2 -1  7]

is_recid:
[ 0 -1  1]

two_year_recid:
Nothing found

c_jail_in:
['2013-08-13 06:03:42' nan '2013-01-26 03:45:27' ... '2013-05-16 08:58:35'
 '2013-05-21 03:12:58' '2014-01-10 06:49:02']

c_jail_out:
['2013-08-14 05:41:20' nan '2013-02-05 05:36:53' ... '2013-05-18 07:59:30'
 '2013-05-22 09:04:20' '2014-01-11 01:45:55']

In [8]:
# select data and preprocess
data_processed = data[data['days_b_screening_arrest'] <= 30]
data_processed = data[data['days_b_screening_arrest'] >= -30] # select within 30 days
data_processed.shape

(9778, 47)

In [9]:
data_processed = data_processed[data_processed['is_recid'] != -1]
data_processed = data_processed[data_processed['c_charge_degree'] != 'O']
data_processed.dropna(subset=["score_text"], inplace=True)
data_processed.shape

(9760, 47)

In [10]:
data_train = data_processed[["age_cat", "c_charge_degree", "race", "sex", "priors_count"]].copy()
data_compare = data_processed[["score_text", "decile_score"]].copy()
data_target = data_processed[["is_recid"]].copy()

In [11]:
data_train.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 9760 entries, 0 to 11756
Data columns (total 5 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   age_cat          9760 non-null   object
 1   c_charge_degree  9760 non-null   object
 2   race             9760 non-null   object
 3   sex              9760 non-null   object
 4   priors_count     9760 non-null   int64
dtypes: int64(1), object(4)
memory usage: 457.5+ KB

In [12]:
data_compare.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 9760 entries, 0 to 11756
Data columns (total 2 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   score_text    9760 non-null   object
 1   decile_score  9760 non-null   int64
dtypes: int64(1), object(1)
memory usage: 228.8+ KB

In [13]:
data_target.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 9760 entries, 0 to 11756
Data columns (total 1 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   is_recid  9760 non-null   int64
dtypes: int64(1)
memory usage: 152.5 KB

In [14]:
data_target = data_target.to_numpy().ravel()

In [15]:
# preprocessing
from sklearn.preprocessing import LabelEncoder
encoders = {}
for col in ['age_cat', 'c_charge_degree', 'race', 'sex']:
    encoder = LabelEncoder()
    data_train[col] = encoder.fit_transform(data_train[col])
    encoders[col] = encoder
data_train.head(5)

   age_cat  c_charge_degree  race  sex  priors_count
0        1                0     5    1             0
2        0                0     0    1             0
3        2                0     0    1             4
6        0                1     5    1             0
7        0                0     2    1            14

In [16]:
data_train.describe()

           age_cat  c_charge_degree         race          sex  priors_count
count  9760.000000      9760.000000  9760.000000  9760.000000   9760.000000
mean      0.642725         0.347848     1.267623     0.795389      3.128586
std       0.811283         0.476312     1.450518     0.403437      4.670708
min       0.000000         0.000000     0.000000     0.000000      0.000000
25%       0.000000         0.000000     0.000000     1.000000      0.000000
50%       0.000000         0.000000     1.000000     1.000000      1.000000
75%       1.000000         1.000000     2.000000     1.000000      4.000000
max       2.000000         1.000000     5.000000     1.000000     43.000000

In [17]:
data_train = data_train.to_numpy()

## Build Model  
The goal here is to build several models to predict the possibility of a person's is_recid in future  
and compare it with the decile_score and score_text output

In [18]:
from sklearn.neighbors import KNeighborsClassifier
from sklearn.svm import LinearSVC
from sklearn.linear_model import SGDClassifier
from sklearn.linear_model import LogisticRegression
from sklearn.ensemble import RandomForestClassifier
from sklearn.model_selection import cross_validate

In [19]:
result = cross_validate(estimator=KNeighborsClassifier(),
                        X=data_train, y=data_target, cv=10,
                        return_estimator=True)
result_best_ids = np.argmax(result["test_score"])
model_neighbor = {
    'avg_score': result['test_score'].mean(),
    'best_estimator': result['estimator'][result_best_ids]
}
print(model_neighbor['avg_score'])

0.6420081967213115

In [20]:
result = cross_validate(estimator=LinearSVC(dual=False),
                        X=data_train, y=data_target, cv=10,
                        return_estimator=True)
result_best_ids = np.argmax(result["test_score"])
model_linearSVC = {
    'avg_score': result['test_score'].mean(),
    'best_estimator': result['estimator'][result_best_ids]
}
print(model_linearSVC['avg_score'])

0.6762295081967213

In [21]:
result = cross_validate(estimator=SGDClassifier(),
                        X=data_train, y=data_target, cv=10,
                        return_estimator=True)
result_best_ids = np.argmax(result["test_score"])
model_SGD = {
    'avg_score': result['test_score'].mean(),
    'best_estimator': result['estimator'][result_best_ids]
}
print(model_SGD['avg_score'])

0.6682377049180329

In [22]:
result = cross_validate(estimator=LogisticRegression(),
                        X=data_train, y=data_target, cv=10,
                        return_estimator=True)
result_best_ids = np.argmax(result["test_score"])
model_logreg = {
    'avg_score': result['test_score'].mean(),
    'best_estimator': result['estimator'][result_best_ids]
}
print(model_logreg['avg_score'])

0.6774590163934426

In [23]:
result = cross_validate(estimator=RandomForestClassifier(),
                        X=data_train, y=data_target, cv=10,
                        return_estimator=True)
result_best_ids = np.argmax(result["test_score"])
model_forest = {
    'avg_score': result['test_score'].mean(),
    'best_estimator': result['estimator'][result_best_ids]
}
print(model_forest['avg_score'])

0.6701844262295082

### Comparison

In [24]:
sample_index = 25
print(data_train[sample_index])
print(model_neighbor["best_estimator"].predict([data_train[sample_index]]))
print(model_neighbor["best_estimator"].predict_proba([data_train[sample_index]]))

[2 0 3 1 1]
[1]
[[0.2 0.8]]