In [1]:
import os
os.chdir("..")
import pandas as pd

In [2]:
data = pd.read_excel(os.path.join("ratio_analysis_plots", "d_processed.xlsx"))

In [3]:
data

    dataset ml_name      method     lambda             k   Avg.e^2
0     adult     KNN     mean_v1  14.569371  1.933125e-06  0.424207
1     adult     KNN     mean_v2  -3.832102  3.892365e+00  0.332409
2     adult     KNN  similar_v1   6.629730  1.111963e-03  0.147048
3     adult     KNN  similar_v2   5.332352  2.483361e-03  0.241792
4     adult     KNN    multi_v1   5.095211  3.511095e-03  0.090114
..      ...     ...         ...        ...           ...       ...
211    bank     MLP     mean_v2  -8.510056  7.599501e+01  0.556829
212    bank     MLP  similar_v1  -0.694158  6.901930e-02  0.452284
213    bank     MLP  similar_v2  -7.076779  1.754112e+01  0.527676
214    bank     MLP    multi_v1  18.064996  4.123700e-09  0.623496
215    bank     MLP    multi_v2  18.656052  2.431238e-09  0.590277

[216 rows x 6 columns]

In [4]:
data.groupby("ml_name").agg({'Avg.e^2':'median'}).sort_values(by="Avg.e^2")

            Avg.e^2
ml_name
LinearSVC  0.325652
LogReg     0.325905
KNN        0.387774
MLP        0.403259
Tree       0.417961
Forest     0.423837

In [5]:
data.groupby("dataset").agg({'Avg.e^2':'median'}).sort_values(by="Avg.e^2")

              Avg.e^2
dataset
compas       0.148974
adult        0.247918
communities  0.340193
titanic      0.448134
german       0.481169
bank         0.515395

In [6]:
data.groupby("dataset").agg({'lambda':'median'}).sort_values(by="lambda")

               lambda
dataset
titanic     -1.184967
bank        -0.785825
german      -0.611679
communities  2.770809
adult        5.719160
compas       6.417708

In [7]:
data.groupby("dataset").agg({'k':'median'}).sort_values(by="k")

                    k
dataset
adult        0.002462
compas       0.004484
communities  0.060448
bank         0.099020
german       0.357730
titanic      0.580930

In [8]:
data.groupby("method").agg({'Avg.e^2':'median'}).sort_values(by="Avg.e^2")

             Avg.e^2
method
similar_v1  0.273038
multi_v1    0.280543
multi_v2    0.370827
mean_v1     0.406623
similar_v2  0.421221
mean_v2     0.470482

In [9]:
data.groupby("method").agg({'lambda':'median'}).sort_values(by="lambda")

              lambda
method
mean_v2    -0.593358
similar_v2  0.539437
similar_v1  2.004557
multi_v1    2.121350
mean_v1     2.244799
multi_v2    2.481914