### Missing Not At Random

In [1]:
import os
os.chdir("..")
import numpy as np
import pandas as pd

In [2]:
from utils.data import create_adult_dataset

In [3]:
data = create_adult_dataset()
X = data.X.copy().drop(columns=data.protected_features)
X.head()

,age,workclass,education,education-num,marital-status,occupation,relationship,race,hours-per-week
0,39,7,9,13,4,1,1,4,40
1,50,6,9,13,2,4,0,4,13
2,38,4,11,9,0,6,1,4,40
3,53,4,1,7,2,6,0,2,40
4,28,4,9,13,2,10,5,2,40

In [4]:
X.shape

(32561, 9)

In [5]:
from sklearn.preprocessing import StandardScaler
scaler = StandardScaler()

def convert_multiple_features(K_df, range_min, range_max, scalar_0=0.05, scalar_1=2):
    max_iter = 10
    while(max_iter > 0):
        scalars = np.random.standard_normal(K_df.shape) * scalar_0
        scalar_a = np.random.standard_normal() - scalar_1
        K = K_df.to_numpy()
        K = scaler.fit_transform(K)
        M = scalar_a + (scalars * K)
        p = 1 / (1 + np.exp(-M))
        ratio = p.mean(axis=0)
        if ratio.min() > range_min and ratio.max() < range_max:
            break
        max_iter -= 1
    if max_iter <= 0:
        return None
    p_bi = np.random.binomial(1, p).astype(np.bool)
    K_df = K_df.where(~p_bi, other=np.nan)
    return K_df

In [6]:
ls = []
for _ in range(100):
    K_df_converted = convert_multiple_features(X, 0.1, 0.3)
    ls.append(K_df_converted.isnull().sum().mean() / X.shape[0])
ls

[0.1877979450535576,
 0.15747537101303877,
 0.1086234725250726,
 0.2260372838672031,
 0.2550665588348706,
 0.2496067210603005,
 0.14375070380721314,
 0.12310910462072897,
 0.1046855645301639,
 0.12899549222143739,
 0.17289941272619935,
 0.20687325327846195,
 0.1288487590812458,
 0.14448095710956188,
 0.13437343242938893,
 0.12952782640445795,
 0.18056366000225219,
 0.12699582663650108,
 0.14648744749171638,
 0.10699917078713798,
 0.10416687994157973,
 0.12209562223382438,
 0.24047855478094107,
 0.21274599128473395,
 0.12010278144610628,
 0.12439557889636203,
 0.2752201850202526,
 0.20297970646547167,
 0.23796702940463882,
 0.12173049558264999,
 0.14645332350562534,
 0.18172728792795745,
 0.237909018628284,
 0.20649447703285118,
 0.13501837576651002,
 0.16792072315551326,
 0.21165061133121083,
 0.19185869939839414,
 0.10356288538776792,
 0.10993042119236032,
 0.21658493971997858,
 0.18961675351221127,
 0.25152448907861824,
 0.1429351405396367,
 0.13167422512958585,
 0.12445700207132596,
 0.2051772911697361,
 0.128214052939952,
 0.15276284853386293,
 0.15133987831386558,
 0.13250002559298957,
 0.10179867530685995,
 0.1601438667253599,
 0.13276278028589075,
 0.1015086214250859,
 0.12503028503765581,
 0.23636661445696794,
 0.2353121832867541,
 0.22205842708898513,
 0.21362297772727426,
 0.24599299093325688,
 0.16884548317858106,
 0.22135888537411832,
 0.24446082395776814,
 0.142334558384434,
 0.28401052383731046,
 0.2658565632368648,
 0.15169476776921265,
 0.1471869892065832,
 0.25901811642421574,
 0.24819398803613046,
 0.19768025142552953,
 0.20788673566536656,
 0.15622984552071498,
 0.2994345655504711,
 0.24299690495446155,
 0.12639865687990748,
 0.131165777736829,
 0.2079174472528485,
 0.27428177540274834,
 0.15767670253097604,
 0.22174789881555643,
 0.1515616842234575,
 0.2520807100519026,
 0.1705312080914796,
 0.17177332118519428,
 0.27397465952792877,
 0.24308903971690743,
 0.16435476660899714,
 0.11443137495777157,
 0.10215697716081612,
 0.11340424297643056,
 0.14676726417766311,
 0.15740029824363844,
 0.28060495002542235,
 0.16513620589048247,
 0.17359554204245706,
 0.27897041109166043,
 0.20890363045088023,
 0.1887124678807981]